@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-grid.min.css");
.container, .container-fluid {padding: 0;}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Suffix this section at the end of your styles.css for toogling between @media screen and @media print mode */
/*############################################################################################################*/
app-print-page {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-print-page {
    display: block;
  }

  app-main-page {
    display: none;
  }
}
/*#############################################################################################################*/

